.Portfolio-container {
  min-height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .Portfolio {
    .backlink {
      text-align: left;
      padding-left: 50px;
      padding-top: 50px;

      a {
        font-size: 20px;
        text-decoration: underline;
      }
    }
    h1 {
      font-size: 60px;
      color: white;
      font-weight: 100;
    }

    section {
      display: grid;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 50px;
      margin: 0;
      li {
        text-align: left;
        padding-bottom: 50px;
        border-bottom: 0.5px solid black;
        &:nth-child(even) {
          text-align: right;
          p {
            margin-left: auto;
          }
        }
        p {
          max-width: 50vw;
        }
      }
    }
  }
  .exiting {
    animation: fadeOutPortfolio 0.2s linear forwards;
  }

  button {
    border-radius: 0px 0px 5px 5px;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 25px 80px;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 3px #ab3c3c;
      transform: translateY(3px);
    }
  }
}

@keyframes fadePortfolio {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOutPortfolio {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
