.portfolio-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.portfolio-enter-active {
  opacity: 1;
  transition: 400ms ease-in-out;
  transform: translateY(0px);
}

.portfolio-exit {
  opacity: 1;
  transform: scale(1);
  transition: 300ms ease-in-out;
}

.portfolio-exit-active {
  opacity: 0;
  transform: scale(0.9);
}
