.Pagesection {
  justify-self: stretch;
  section,
  a {
    transition: 0.2s ease;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    text-align: left;
    transition: 0.2s;
    cursor: pointer;

    h1 {
      font-size: 40px;
      font-weight: 800;
      margin-left: 150px;
    }
  }

  .disabled {
    cursor: default;
    &:hover {
      background: none;
      transform: none;
    }
  }

  .red {
    &:hover {
      color: #fe5f55;
    }
  }

  .green {
    &:hover {
      color: #777da7;
    }
  }

  .blue {
    &:hover {
      color: #94c9a9;
    }
  }
}

@media screen and (max-width: 800px) {
  .Pagesection {
    section,
    a {
      h1 {
        margin-left: 20px;
        font-size: 30px;
      }
    }
  }
}
